# Automatization for HIPERMovelets
Sample Code

**Observations:**
- Not yet compatible with windows, only linux shell

---

### 1. Paths Configurations
You can use configured paths if you want to move directories

In [1]:
import os

root     = './../'
data     = os.path.join(root, 'data')
prg_path = os.path.join(root, 'automatize')

### 2. Run
To run HIPERMovelets, import from package `automatize` the script run.py:

In [ ]:
from automatize.run import run, k_run, mergeAndMove

You can use the method run to run HIPERMovelets in terminal comand from Python. In this example we use the configurations:
- `data_folder`: 
- `res_path`:
- `prefix`:
- `method_name`:
- `descriptor`:
- `ms`:
- `Ms`:
- `extra`:
- `prg_path`:
- `print_only`:
- `keep_folder`:

In [ ]:
# My Configurations:
data_folder = os.path.join(data, 'FoursquareNY')
res_path    = os.path.join(root, 'results')
prefix      = 'FoursquareNY'
method_name = 'Hiper-Log'
descriptor  = 'FoursquareNY_specific'

# Print run script:
run(data_folder, res_path, prefix, method_name, descriptor, 'hiper', ms=-1, Ms=-3, extra='-T 0.5', 
    prg_path=prg_path, print_only=True, keep_folder=True)

If, for some reason, you want to join again the results of each class to train.csv / test.csv, you can run the subroutine:

In [ ]:
mergeAndMove(os.path.join(res_path, prefix, method_name), 'MASTERMovelets', prg_path)

To run k-fold experiments:

In [ ]:
# My Configurations:
data_folder = os.path.join(data, 'FoursquareNY')
res_path    = os.path.join(root, 'results')
prefix      = 'FoursquareNY'
method_name = 'Hiper-Log'
descriptor  = 'FoursquareNY_specific'

# Print run script:
k_run(data_folder, res_path, prefix, method_name, descriptor, 'hiper', ms=-1, Ms=-3, extra='-T 0.5', 
    prg_path=prg_path, print_only=True, keep_folder=True)

### 3. Classification
To run classifiers for the HIPERMovelets results, import from package `automatize` the script analysis.py:

In [ ]:
from automatize.analysis import def_random_seed, ACC4All, ALL3, MLP, RF, SVM, results2df, printLatex

This defines a random and a seed numbers for classifyers

In [ ]:
save_results = True

def_random_seed(random_num=1, seed_num=1)

--- 
a. To run the classifyers for each folder inside a result path prefix:

In [ ]:
ACC4All(res_path, prefix, save_results)

b. To run the classifyers for a especific result forder:

In [ ]:
ALL3(res_path, prefix, method_name)

c. To run a specific classifyer:

In [ ]:
MLP(res_path, prefix, method_name)

---
To load the results into an dataframe:

In [ ]:
df = results2df(res_path, prefix)
df

---
To print the dataframe result in a Latex formatted table:

In [ ]:
printLatex(df)

### 3. Pre-processing data
To use helpers for data pre-processing, import from package `automatize` the script preprocessing.py:

In [2]:
from automatize.preprocessing import joinTrainAndTest, kfold_trainAndTestSplit

To join splitted files use:

In [3]:
dir_path = os.path.join(data, 'foursquare_global')
cols = ['tid','label','lat','lon','day','hour','poi','category','price','rating']

df = joinTrainAndTest(dir_path, cols, train_file="specific_train.csv", test_file="specific_test.csv", class_col = 'label')
df

Joining train and test data from... ./../data/foursquare_global
Reading train file...
Done.
Reading test file...
Done.
Saving joined dataset as: ./../data/foursquare_global/joined.csv
Done.

,tid,label,lat,lon,day,hour,poi,category,price,rating
0,1,1,40.694387,-73.678376,Tuesday,14,1704710,Nightlife Spot,2,-999.0
1,1,1,40.684260,-73.665107,Tuesday,14,2308020,Outdoors & Recreation,-999,-999.0
2,1,1,40.694387,-73.678376,Tuesday,20,1704710,Nightlife Spot,2,-999.0
3,1,1,40.743780,-73.694395,Friday,11,479029,Food,2,8.2
4,1,1,40.742273,-73.698370,Friday,11,168952,Food,1,7.6
...,...,...,...,...,...,...,...,...,...,...
222239,35643,955,29.275192,48.087095,Friday,12,2946815,Residence,-999,-999.0
222240,35643,955,29.274172,48.085315,Friday,12,3324543,Residence,-999,-999.0
222241,35643,955,29.274172,48.085315,Friday,12,3375916,Residence,-999,-999.0
222242,35643,955,29.264248,48.085281,Saturday,18,3635469,Outdoors & Recreation,-999,7.3
222243,35643,955,29.264285,48.085348,Saturday,18,3592723,Outdoors & Recreation,-999,9.0

To k-fold split a dataset into train and test:

In [4]:
k = 5

kfold_trainAndTestSplit(dir_path, df, k, random_num=1, class_col='label')

5-fold train and test split in... ./../data/foursquare_global
Reading files...
Done.
Writing files...
Done.

\# By Tarlis Portela (2020)